<!DOCTYPE>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
</head>

<body>
     <style>
     .car-item {
        display: inline-block;
        width: 18%;
        font-size: 1em;
     }
     .car-num {
        color: #fd1e34;
     }
    .car-label {
        color: #b0aeae;
    }
    </style>
    <div class="container">

        <div style="font-size: 5em;">Car manager</div>
        <hr />
        <div>
            Find the nearest cars by coordinates
        </div>
        <div class="row">
            <div class="col-1">
                <div class="form-floating">
                    <input type="text" class="form-control" id="search-x" placeholder="X">
                    <label for="search-x">X</label>
                </div>
            </div>
            <div class="col-1">
                <div class="form-floating">
                    <input type="text" class="form-control" id="search-y" placeholder="Y">
                    <label for="search-y">Y</label>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <button id="btn-add-car" type="button" class="btn-dark rounded" data-bs-toggle="modal"
                    data-bs-target="#add-car">Add car</button>
            </div>
        </div>
       

        <div class="row mt-3">
            <div class="col-12">
                <div class="car-item border border-primary p-3 mt-1">
                    <div class="d-flex justify-content-between">
                        <span class="car-num"><strong>H123</strong></span>
                        <div>
                            <span class="px-1"><i class="fas fa-pencil-alt"></i></span>
                            <span class="px-1"><i class="fas fa-trash"></i></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <div><span class="pe-2 car-label"><i class="fas fa-car"></i></span>Toyota</div>
                            <div><span class="pe-2 car-label"><i class="fas fa-palette"></i></span>Black</div>
                            <div><span class="pe-2 car-label"><i class="far fa-calendar"></i></span>2022</div>
                            <div><span class="pe-2 car-label"><i class="fas fa-map-marker-alt"></i></span>3;5</div>
                        </div>
                        <div class="text-center p-3"><i class="fas fa-taxi" style="font-size: 4em; color: #c5c503;"></i></div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="add-car" tabindex="-1" aria-labelledby="add-car-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add-car-label">Add car</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/" id="form-reg-num">

                        <div class="form-floating">
                            <input type="text" class="form-control" id="registration-num"
                                placeholder="Registration number">
                            <label for="registration-num">Registration number</label>
                        </div>

                        <div class="form-floating mt-3">
                            <input type="text" class="form-control" id="brand" placeholder="Brand">
                            <label for="brand">Brand</label>
                        </div>

                        <div class="form-floating mt-3">
                            <input type="text" class="form-control" id="color" placeholder="Color">
                            <label for="color">Color</label>
                        </div>

                        <div class="form-floating mt-3">
                            <input type="text" class="form-control" id="year" placeholder="Year">
                            <label for="year">Year</label>
                        </div>

                        <div class="mt-3" style="font-size:1.5em;">
                            Location
                        </div>
                        <div class="row">

                            <div class="col-2">
                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" id="location-x" placeholder="X">
                                    <label for="location-x">X</label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" id="location-y" placeholder="Y">
                                    <label for="location-y">Y</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" id="submit-btn" />Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<script>
    const addCarModal = new bootstrap.Modal(document.getElementById('add-car'));

    const regNum = document.getElementById("registration-num");
    const brand = document.getElementById("brand");
    const color = document.getElementById("color");
    const year = document.getElementById("year");
    const locationX = document.getElementById("location-x");
    const locationY = document.getElementById("location-y");

    // Add car
    document.getElementById("submit-btn").addEventListener("click", function(event){
        const req = new XMLHttpRequest();
        req.addEventListener("load", () => {
            console.log(req.status);
            if (req.status === 201 || req.status === 200) {
                addCarModal.hide();
            }
        });
        const data = {
            "regNum": regNum.value,
            "brand": brand.value,
            "color": color.value,
            "year": parseInt(year.value),
            "isReady": true,
            "locX": parseInt(locationX.value),
            "locY": parseInt(locationY.value),
        }
        req.open("POST", "http://localhost:8080/v1/cars");
        req.send(JSON.stringify(data));

    });
</script>

</html>